h2 {
    font-family: 'Noto Sans TC', sans-serif;
}

table th {
    text-align: center;
}

table tr td{
    text-align: center;
}

ul {
    /* 取消ul預設的內縮及樣式 */
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-brand{
    color:white;
}

.nav ul {
    background-color: #6c757d;
    position: absolute;
    z-index: 99;
    left: -1px;
    top: 100%;
    min-width: 180px;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav li:hover > ul {
    display: block;
}

.nav li a {
    color: #21dce6;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: large;
    padding-right: 10px;
}

.nav li {
    position: relative;
    white-space: nowrap;    
}

.nav > li:last-child {
    border-right: none;
}

.nav > li:last-child {
    border-right: none;
}

.nav li a:hover {    
    color: #fff;
}

.nav ul li {
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    border-bottom: #ccc 1px solid;
}

nav ul li:last-child {
    border-bottom: none;
}

@media (min-width: 1280px) {
    .systemGroup {
        margin-top: 90px;
    }
}

@media (min-width: 720px) and (max-width: 1199px) {
    .systemGroup {
        margin-top: 40px;
    }

    .nav ul {
        background-color: #6c757d;
        position: absolute;
        z-index: 99;
        left: 80px;
        top: 100%;
        min-width: 180px;
        display: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (min-width: 360px) and (max-width: 719px) {

    .systemGroup {
        margin-top: 40px;
    }

    .nav ul {
        background-color: #6c757d;
        position: absolute;
        z-index: 99;
        left: 80px;
        top: 100%;
        min-width: 180px;
        display: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
